# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
.vscode/

# macOS
.DS_Store

# Android
/android/app/debug
/android/app/profile
/android/app/release
*.jks
*.keystore

# iOS
/ios/Pods/
/ios/.symlinks/

# Generated
*.g.dart
*.freezed.dart
